.main-nav{
  flex-wrap: wrap;
}

.nav-item{
    flex: 0 0 100%;
    list-style: none;
    flex-wrap: wrap;
}

.link{
    display: block;
    font-family: "Lora", serif;
    font-weight: bold;
    padding: 10px 25px ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .link:hover{
    background-color: #29a7c0;
    color:#000000;
  }
  
  .link.active{
    color:#000000;
    background-color: #f1d471;
  }

  .lista{
    flex: 0 0 100%;
  }

  .boton-salir{
    flex: 0 0 60%;
    margin-left: 30px;
    margin-top: 40px;
  }
